*.class
*.java~

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Processing
.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

sketch.properties
applet
application.macosx
build-tmp/
web-export/